#series-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  #series-details h1 {
    font-size: 32px;
    margin-bottom: 20px;
    
  }
  
  .info-section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color:antiquewhite;
  }
  
  .serie-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .serie-img {
    width: 200px;
  height: auto;
  margin-bottom: 10px;
  object-fit: contain;
    
  }
  
  .serie-header h1 {
    font-size: 24px;
    margin: 5px 0;
  }
  
  .year,
  .genres,
  .producer
 {
    font-size: 16px;
    color: #888;
    margin: 5px 0;
  }
  
  .description {
    margin-top: 20px;
  }
  
  .details-comments {
    margin-top: 20px;
  }
  
  .comment {
    margin-bottom: 10px;
  }
  
  .no-comment {
    font-style: italic;
    color: #777;
  }
  
  .buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .button {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    background-color:darkcyan;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .create-comment {
    margin-top: 20px;
  }
  
  .create-comment label {
    display: block;
    font-weight: bold;
  }
  
  .form {
    margin-top: 10px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    margin-bottom: 10px;
  }
  
  .btn.submit {
    background-color:darkcyan;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn.submit:hover {
    background-color:darkcyan;
  }