#create-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .auth {
    text-align: center;
  }
  
  #create {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type='text'],
  input[type='number'],
  textarea {
    width: calc(100% - 20px);
    padding: 28px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  .btn.submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn.submit:hover {
    background-color: #0056b3;
  }