
.search-wrapper input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 2em;
    min-width: 21em;
    max-width: 22em;
  }
  
  
  .search-wrapper button {
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 4em;
    max-height: 4em;
    border-radius: 3em;
    min-width: 4em;
  }

  .search-wrapper svg {
    height: 2em;
    width: 2em;
  }

  .search-container {
    position: relative; 
    display: flex;
    flex-direction: column;
  }

  .search-wrapper{
    display: flex;
    gap: 2em;
    padding: 1em;
    min-width: 35em;
  }


  .search-wrapper input { 
    border-radius: 5em;
  }

 

  .dropdown {
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    color: red;
    
  }
  
 
  .dropdown-item {
    padding: 8px;
    text-decoration: none;
    display: block;
    color: #333;
  }
  

  .dropdown-item:hover {
    background-color: #ddd;
    color: #000;
  }