.header-section {
  background-color: palevioletred;
  color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo-wrapper a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navigation-container {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes the navigation to the right */
  font-size: 1em;

}

.navigation-container > div {
  margin-left: 20px;

}

.navigation-container > div a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s;
}

.navigation-container > div:hover{
  scale: 1.1;
}

.navigation-container > div a:hover{
  color: greenyellow;
}

/* Show/hide elements based on authentication */
.user-wrapper,
.guest-wrapper {
  display: none;
}

.header-section.logged-in .user-wrapper {
  display: flex;
  align-items: center;
}

.header-section.logged-out .guest-wrapper {
  display: flex;
  align-items: center;
}