.header-section {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .logo-wrapper a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navigation-container {
    display: flex;
    align-items: center;
  }
  
  .navigation-wrapper div {
    margin-left: 20px;
  }
  
  .navigation-wrapper div a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
  }
  
  /* Show/hide elements based on authentication */
  .user-wrapper,
  .guest-wrapper {
    display: none;
  }
  
  .header-section.logged-in .user-wrapper {
    display: flex;
    align-items: center;
  }
  
  .header-section.logged-out .guest-wrapper {
    display: flex;
    align-items: center;
  }