.details-btn {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  background-color:deepskyblue;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.details-btn:hover {
  background-color: blue;
}

.card-description {
  display: flex;
}