.details-btn {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  background-color:deepskyblue;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  max-width: 7em;
  font-size: 13px;
}


.details-btn:hover {
  background-color: blue;
}

.card-description {
  display: flex;
}

.card-img-top {
  height: 27em;
}

.card-body {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}