@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Zen+Dots&display=swap');
html{
    font: 12px/1.15 'Merriweather Sans';
    letter-spacing: 2px;
    text-shadow: 0 0 1px;
}

body{
    font: inherit;
    background-color:rgb(73, 124, 153);
  }
